body{
    background: #000;
    padding-left: 20px;
    padding-right: 40%;
}
.moviecard{
    background: rgb(244, 249, 249);
    border: solid ;
    border-radius: 3%;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.buttons{
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    justify-content:flex-end;
    
}
.buttons #cartitem{
    margin: 0;
    margin-right: 20px;
    height: 20px;
}
.buttons button{
    height: 20px;
    margin-top: 5px;
    margin-right: 20px;
}
.info{
    padding-top: 15px;
    display: flex;
}
.info p{
    padding-left: 10px;
    margin: 0%;
}
.image{
    max-width: 300px;
    max-height: 300px;
    padding-right: 40px;
}
.moviedesc{
    font-family: "Times New Roman", Times, serif;
}
.rating{
    padding-top: 15px;
    padding-left: 10px;
}
.rating p{
    padding-top: 15px;
    
}
.moviename{
    margin: 0;
}
.infocontainor p{
    margin: 0;
    padding-right: 10px;
}
.rating span{
    padding-right: 10px;
}